@font-face {
  font-family: "MuseoSans500";
  src: url("../fonts/MuseoSans_500.otf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "MuseoSans700";
  src: url("../fonts/MuseoSans_700.otf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "MuseoSans300";
  src: url("../fonts/MuseoSans-300.otf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "MuseoSans100";
  src: url("../fonts/MuseoSans-100.otf"); /* IE9 Compat Modes */
}
